$dir: "./1-base/fonts/SF-Pro-Text/";

@mixin fontfom-t($variants) {
  font-family: SF Pro $variants;
  src: url(#{$dir}#{$variants}.otf);
}

@font-face {
  @include fontfom-t(Ultralight);
}

@font-face {
  @include fontfom-t(UltralightItalic);
}

@font-face {
  @include fontfom-t(Thin);
}

@font-face {
  @include fontfom-t(ThinItalic);
}

@font-face {
  @include fontfom-t(Light);
}

@font-face {
  @include fontfom-t(LightItalic);
}

@font-face {
  @include fontfom-t(Regular);
}

@font-face {
  @include fontfom-t(RegularItalic);
}

@font-face {
  @include fontfom-t(Bold);
}

@font-face {
  @include fontfom-t(BoldItalic);
}

@font-face {
  @include fontfom-t(Medium);
}

@font-face {
  @include fontfom-t(MediumItalic);
}

@font-face {
  @include fontfom-t(Semibold);
}

@font-face {
  @include fontfom-t(SemiboldItalic);
}

@font-face {
  @include fontfom-t(Heavy);
}

@font-face {
  @include fontfom-t(HeavyItalic);
}

@font-face {
  @include fontfom-t(Black);
}

@font-face {
  @include fontfom-t(BlackItalic);
}
