.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  width: 133px;
  height: 48px;
  background: #007AFF;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  @include body-l;
}
