* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

@font-face {
  font-family: SF Display Bold;
  src: url(./1-base/fonts/SF-Pro-Display/Bold.otf);
}
@font-face {
  font-family: SF Display BlackItalic;
  src: url(./1-base/fonts/SF-Pro-Display/BlackItalic.otf);
}
@font-face {
  font-family: SF Display HeavyItalic;
  src: url(./1-base/fonts/SF-Pro-Display/HeavyItalic.otf);
}
@font-face {
  font-family: SF Display LightItalic;
  src: url(./1-base/fonts/SF-Pro-Display/LightItalic.otf);
}
@font-face {
  font-family: SF Display Medium;
  src: url(./1-base/fonts/SF-Pro-Display/Medium.otf);
}
@font-face {
  font-family: SF Display Regular;
  src: url(./1-base/fonts/SF-Pro-Display/Regular.otf);
}
@font-face {
  font-family: SF Display SemiboldItalic;
  src: url(./1-base/fonts/SF-Pro-Display/SemiboldItalic.otf);
}
@font-face {
  font-family: SF Display ThinItalic;
  src: url(./1-base/fonts/SF-Pro-Display/ThinItalic.otf);
}
@font-face {
  font-family: SF Display UltralightItalic;
  src: url(./1-base/fonts/SF-Pro-Display/UltralightItalic.otf);
}
@font-face {
  font-family: SF Pro Ultralight;
  src: url(./1-base/fonts/SF-Pro-Text/Ultralight.otf);
}
@font-face {
  font-family: SF Pro UltralightItalic;
  src: url(./1-base/fonts/SF-Pro-Text/UltralightItalic.otf);
}
@font-face {
  font-family: SF Pro Thin;
  src: url(./1-base/fonts/SF-Pro-Text/Thin.otf);
}
@font-face {
  font-family: SF Pro ThinItalic;
  src: url(./1-base/fonts/SF-Pro-Text/ThinItalic.otf);
}
@font-face {
  font-family: SF Pro Light;
  src: url(./1-base/fonts/SF-Pro-Text/Light.otf);
}
@font-face {
  font-family: SF Pro LightItalic;
  src: url(./1-base/fonts/SF-Pro-Text/LightItalic.otf);
}
@font-face {
  font-family: SF Pro Regular;
  src: url(./1-base/fonts/SF-Pro-Text/Regular.otf);
}
@font-face {
  font-family: SF Pro RegularItalic;
  src: url(./1-base/fonts/SF-Pro-Text/RegularItalic.otf);
}
@font-face {
  font-family: SF Pro Bold;
  src: url(./1-base/fonts/SF-Pro-Text/Bold.otf);
}
@font-face {
  font-family: SF Pro BoldItalic;
  src: url(./1-base/fonts/SF-Pro-Text/BoldItalic.otf);
}
@font-face {
  font-family: SF Pro Medium;
  src: url(./1-base/fonts/SF-Pro-Text/Medium.otf);
}
@font-face {
  font-family: SF Pro MediumItalic;
  src: url(./1-base/fonts/SF-Pro-Text/MediumItalic.otf);
}
@font-face {
  font-family: SF Pro Semibold;
  src: url(./1-base/fonts/SF-Pro-Text/Semibold.otf);
}
@font-face {
  font-family: SF Pro SemiboldItalic;
  src: url(./1-base/fonts/SF-Pro-Text/SemiboldItalic.otf);
}
@font-face {
  font-family: SF Pro Heavy;
  src: url(./1-base/fonts/SF-Pro-Text/Heavy.otf);
}
@font-face {
  font-family: SF Pro HeavyItalic;
  src: url(./1-base/fonts/SF-Pro-Text/HeavyItalic.otf);
}
@font-face {
  font-family: SF Pro Black;
  src: url(./1-base/fonts/SF-Pro-Text/Black.otf);
}
@font-face {
  font-family: SF Pro BlackItalic;
  src: url(./1-base/fonts/SF-Pro-Text/BlackItalic.otf);
}
.lt {
  font-size: 26pt;
  line-height: 32pt;
  font-family: SF Display Bold;
}

.t1 {
  font-size: 22pt;
  line-height: 26pt;
  font-family: SF Display Bold;
}

.t2 {
  font-size: 17pt;
  line-height: 22pt;
  font-family: SF Display Bold;
}

.t3 {
  font-size: 15pt;
  line-height: 20pt;
  font-family: SF Pro Semibold;
}

.hd {
  font-size: 13pt;
  line-height: 16pt;
  font-family: SF Pro Heavy;
}

.shd {
  font-size: 11pt;
  line-height: 14pt;
  font-family: SF Pro Semibold;
}

.bd {
  font-size: 13pt;
  line-height: 16pt;
  font-family: SF Pro Semibold;
}

.co {
  font-size: 12pt;
  line-height: 15pt;
  font-family: SF Pro Semibold;
}

.fn {
  font-size: 10pt;
  line-height: 13pt;
  font-family: SF Pro Semibold;
}

.c1 {
  font-size: 10pt;
  line-height: 13pt;
  font-family: SF Pro Medium;
}

.c2 {
  font-size: 10pt;
  line-height: 13pt;
  font-family: SF Pro Semibold;
}

.login {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-image: url(./1-base/images/bg.jpg);
}

.gr-to-left {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 100vh;
  width: 100%;
}

.gr-to-top {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 100vh;
  width: 100%;
}

.google {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.google a {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 40px;
  gap: 10px;
  width: 268px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  color: #000;
  text-decoration: none;
  font-size: 13pt;
  line-height: 16pt;
  font-family: SF Pro Regular;
}
.google a:hover {
  background-color: #f2f2f2;
}
.google a svg {
  height: 17px;
  width: 17px;
}

.left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left .motto {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 100%;
  height: 25vh;
  color: #fff;
  margin-bottom: 30px;
}
.left .motto h1 {
  font-family: SF Display Bold;
  font-size: 65px;
  line-height: 78px;
  margin-left: 50px;
}
.left .motto h2 {
  margin-left: 75px;
  font-family: SF Pro Thin;
  font-size: 55px;
  line-height: 78px;
}/*# sourceMappingURL=App.css.map */