@mixin fontSize($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin fontStyle($style) {
  font-family: SF Pro $style;
}

@mixin fontStyle-d($style) {
  font-family: SF Display $style;
}
