@font-face {
  font-family: SF Pro Ultralight;
  src: url(./fonts/SF-Pro-Text/Ultralight.otf);
}

@font-face {
  font-family: SF Pro UltralightItalic;
  src: url(./fonts/SF-Pro-Text/UltralightItalic.otf);
}

@font-face {
  font-family: SF Pro Thin;
  src: url(./fonts/SF-Pro-Text/Thin.otf);
}

@font-face {
  font-family: SF Pro ThinItalic;
  src: url(./fonts/SF-Pro-Text/ThinItalic.otf);
}

@font-face {
  font-family: SF Pro Light;
  src: url(./fonts/SF-Pro-Text/Light.otf);
}

@font-face {
  font-family: SF Pro LightItalic;
  src: url(./fonts/SF-Pro-Text/LightItalic.otf);
}

@font-face {
  font-family: SF Pro Regular;
  src: url(./fonts/SF-Pro-Text/Regular.otf);
}

@font-face {
  font-family: SF Pro RegularItalic;
  src: url(./fonts/SF-Pro-Text/RegularItalic.otf);
}

@font-face {
  font-family: SF Pro Bold;
  src: url(./fonts/SF-Pro-Text/Bold.otf);
}

@font-face {
  font-family: SF Pro BoldItalic;
  src: url(./fonts/SF-Pro-Text/BoldItalic.otf);
}

@font-face {
  font-family: SF Pro Medium;
  src: url(./fonts/SF-Pro-Text/Medium.otf);
}

@font-face {
  font-family: SF Pro MediumItalic;
  src: url(./fonts/SF-Pro-Text/MediumItalic.otf);
}

@font-face {
  font-family: SF Pro Semibold;
  src: url(./fonts/SF-Pro-Text/Semibold.otf);
}

@font-face {
  font-family: SF Pro SemiboldItalic;
  src: url(./fonts/SF-Pro-Text/SemiboldItalic.otf);
}

@font-face {
  font-family: SF Pro Heavy;
  src: url(./fonts/SF-Pro-Text/Heavy.otf);
}

@font-face {
  font-family: SF Pro HeavyItalic;
  src: url(./fonts/SF-Pro-Text/HeavyItalic.otf);
}

@font-face {
  font-family: SF Pro Black;
  src: url(./fonts/SF-Pro-Text/Black.otf);
}

@font-face {
  font-family: SF Pro BlackItalic;
  src: url(./fonts/SF-Pro-Text/BlackItalic.otf);
}
